*{
    background:#575758;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
    
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
    
}

.text-area {
    height: 400px;
    border: none;
    color: #000000;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
    background-color: white;
    border-radius: 15px;
}
::placeholder { color: #000000; }
  .text-area:focus {
      outline: none;
    }

.mensaje{
    height: 630px;
    background: white;
    border: none;
    border-radius: 24px;
    color: #000000;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-desencriptar:hover {
    background-color: black;
    transition: background-color .5s;
    color: white;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-encriptar:hover {
    background-color: white;
    transition: background-color .5s;
    color: black;
}

.copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 120px;
    margin-top: 565px;
    position: absolute;
    width: 336px;
}

.copiar:hover {
    background-color: black;
    transition: background-color .5s;
    color: white;
}

.informacion {
    color: #ffffff;
    font-size:18px;
}

